In [1]:
%load tutorial.db [rw]

In [2]:
Create table If Not Exists Customer (id int, name varchar(25), referee_id int)

In [3]:
insert into Customer (id, name, referee_id) values ('1', 'Will', 'None')

In [4]:
insert into Customer (id, name, referee_id) values ('2', 'Jane', 'None')

In [5]:
insert into Customer (id, name, referee_id) values ('3', 'Alex', '2')

In [6]:
insert into Customer (id, name, referee_id) values ('4', 'Bill', 'None')

In [7]:
insert into Customer (id, name, referee_id) values ('5', 'Zack', '1')

In [8]:
insert into Customer (id, name, referee_id) values ('6', 'Mark', '2')

In [9]:
select * from Customer

+----+------+------------+
| id | name | referee_id |
+----+------+------------+
| 1  | Will | None       |
+----+------+------------+
| 2  | Jane | None       |
+----+------+------------+
| 3  | Alex | 2          |
+----+------+------------+
| 4  | Bill | None       |
+----+------+------------+
| 5  | Zack | 1          |
+----+------+------------+
| 6  | Mark | 2          |
+----+------+------------+

## Find the names of the customer that are not referred by the customer with id = 2

In [10]:
select name from Customer where referee_id!=2

+------+
| name |
+------+
| Will |
+------+
| Jane |
+------+
| Bill |
+------+
| Zack |
+------+