In [1]:
%load tutorial.db [rw]

In [2]:
Create table If Not Exists World (name varchar(255), continent varchar(255), area int, population int, gdp bigint)

In [3]:
insert into World (name, continent, area, population, gdp) values ('Afghanistan', 'Asia', '652230', '25500100', '20343000000')

In [4]:
insert into World (name, continent, area, population, gdp) values ('Albania', 'Europe', '28748', '2831741', '12960000000')

In [5]:
insert into World (name, continent, area, population, gdp) values ('Algeria', 'Africa', '2381741', '37100000', '188681000000')

In [6]:
insert into World (name, continent, area, population, gdp) values ('Andorra', 'Europe', '468', '78115', '3712000000')

In [7]:
insert into World (name, continent, area, population, gdp) values ('Angola', 'Africa', '1246700', '20609294', '100990000000')

In [8]:
select * from World

+-------------+-----------+---------+------------+--------------+
| name        | continent | area    | population | gdp          |
+-------------+-----------+---------+------------+--------------+
| Afghanistan | Asia      | 652230  | 25500100   | 20343000000  |
+-------------+-----------+---------+------------+--------------+
| Albania     | Europe    | 28748   | 2831741    | 12960000000  |
+-------------+-----------+---------+------------+--------------+
| Algeria     | Africa    | 2381741 | 37100000   | 188681000000 |
+-------------+-----------+---------+------------+--------------+
| Andorra     | Europe    | 468     | 78115      | 3712000000   |
+-------------+-----------+---------+------------+--------------+
| Angola      | Africa    | 1246700 | 20609294   | 100990000000 |
+-------------+-----------+---------+------------+--------------+

A country is big if:

it has an area of at least three million (i.e., 3000000 km2), or
it has a population of at least twenty-five million (i.e., 25000000).
Write a solution to find the name, population, and area of the big countries.

In [9]:
select name, population, area from World where population >= 25e6 or area>= 3e6

+-------------+------------+---------+
| name        | population | area    |
+-------------+------------+---------+
| Afghanistan | 25500100   | 652230  |
+-------------+------------+---------+
| Algeria     | 37100000   | 2381741 |
+-------------+------------+---------+