In [1]:
%load tutorial.db [rw]

In [2]:
Create table If Not Exists Views (article_id int, author_id int, viewer_id int, view_date date)

In [3]:
insert into Views (article_id, author_id, viewer_id, view_date) values ('1', '3', '5', '2019-08-01')

In [4]:
insert into Views (article_id, author_id, viewer_id, view_date) values ('1', '3', '6', '2019-08-02')

In [5]:
insert into Views (article_id, author_id, viewer_id, view_date) values ('2', '7', '7', '2019-08-01')

In [6]:
insert into Views (article_id, author_id, viewer_id, view_date) values ('2', '7', '6', '2019-08-02')

In [7]:
insert into Views (article_id, author_id, viewer_id, view_date) values ('4', '7', '1', '2019-07-22')

In [8]:
insert into Views (article_id, author_id, viewer_id, view_date) values ('3', '4', '4', '2019-07-21')

In [9]:
insert into Views (article_id, author_id, viewer_id, view_date) values ('3', '4', '4', '2019-07-21')

In [10]:
select * from Views

+------------+-----------+-----------+------------+
| article_id | author_id | viewer_id | view_date  |
+------------+-----------+-----------+------------+
| 1          | 3         | 5         | 2019-08-01 |
+------------+-----------+-----------+------------+
| 1          | 3         | 6         | 2019-08-02 |
+------------+-----------+-----------+------------+
| 2          | 7         | 7         | 2019-08-01 |
+------------+-----------+-----------+------------+
| 2          | 7         | 6         | 2019-08-02 |
+------------+-----------+-----------+------------+
| 4          | 7         | 1         | 2019-07-22 |
+------------+-----------+-----------+------------+
| 3          | 4         | 4         | 2019-07-21 |
+------------+-----------+-----------+------------+
| 3          | 4         | 4         | 2019-07-21 |
+------------+-----------+-----------+------------+

## Write a solution to find all the authors that viewed at least one of their own articles.

Return the result table sorted by id in ascending order.

The result format is in the following example.

In [11]:
select distinct author_id from Views where author_id = viewer_id

+-----------+
| author_id |
+-----------+
| 7         |
+-----------+
| 4         |
+-----------+