In [2]:
%load tutorial.db [rw]

In [3]:
Create table If Not Exists Tweets(tweet_id int, content varchar(50))

In [4]:
insert into Tweets (tweet_id, content) values ('1', 'Vote for Biden')

In [5]:
insert into Tweets (tweet_id, content) values ('2', 'Let us make America great again!')

In [6]:
select * from Tweets

+----------+----------------------------------+
| tweet_id | content                          |
+----------+----------------------------------+
| 1        | Vote for Biden                   |
+----------+----------------------------------+
| 2        | Let us make America great again! |
+----------+----------------------------------+

## Write a solution to find the IDs of the invalid tweets. The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.

Return the result table in any order.

In [7]:
select tweet_id from Tweets where length(content)>15

+----------+
| tweet_id |
+----------+
| 2        |
+----------+