In [1]:
%load tutorial.db [rw]

In [2]:
Create table If Not Exists Sales (sale_id int, product_id int, year int, quantity int, price int)

In [3]:
Create table If Not Exists Product (product_id int, product_name varchar(10))

In [4]:
insert into Sales (sale_id, product_id, year, quantity, price) values ('1', '100', '2008', '10', '5000')

In [5]:
insert into Sales (sale_id, product_id, year, quantity, price) values ('2', '100', '2009', '12', '5000')

In [6]:
insert into Sales (sale_id, product_id, year, quantity, price) values ('7', '200', '2011', '15', '9000')

In [7]:
insert into Product (product_id, product_name) values ('100', 'Nokia')

In [8]:
insert into Product (product_id, product_name) values ('200', 'Apple')

In [9]:
insert into Product (product_id, product_name) values ('300', 'Samsung')

In [10]:
select * from Sales

+---------+------------+------+----------+-------+
| sale_id | product_id | year | quantity | price |
+---------+------------+------+----------+-------+
| 1       | 100        | 2008 | 10       | 5000  |
+---------+------------+------+----------+-------+
| 2       | 100        | 2009 | 12       | 5000  |
+---------+------------+------+----------+-------+
| 7       | 200        | 2011 | 15       | 9000  |
+---------+------------+------+----------+-------+

In [11]:
select * from Product

+------------+--------------+
| product_id | product_name |
+------------+--------------+
| 100        | Nokia        |
+------------+--------------+
| 200        | Apple        |
+------------+--------------+
| 300        | Samsung      |
+------------+--------------+

## Write a solution to report the product_name, year, and price for each sale_id in the Sales table.

Return the resulting table in any order.

In [14]:
select P.product_name, year, price
from Sales left join Product P
using (product_id)

+--------------+------+-------+
| product_name | year | price |
+--------------+------+-------+
| Nokia        | 2008 | 5000  |
+--------------+------+-------+
| Nokia        | 2009 | 5000  |
+--------------+------+-------+
| Apple        | 2011 | 9000  |
+--------------+------+-------+