In [1]:
%load tutorial.db [rw]

In [2]:
Create table If Not Exists Visits(visit_id int, customer_id int)

In [3]:
Create table If Not Exists Transactions(transaction_id int, visit_id int, amount int)

In [4]:
insert into Visits (visit_id, customer_id) values ('1', '23')

In [5]:
insert into Visits (visit_id, customer_id) values ('2', '9')

In [6]:
insert into Visits (visit_id, customer_id) values ('4', '30')

In [7]:
insert into Visits (visit_id, customer_id) values ('5', '54')

In [8]:
insert into Visits (visit_id, customer_id) values ('6', '96')

In [9]:
insert into Visits (visit_id, customer_id) values ('7', '54')

In [10]:
insert into Visits (visit_id, customer_id) values ('8', '54')

In [11]:
insert into Transactions (transaction_id, visit_id, amount) values ('2', '5', '310')

In [12]:
insert into Transactions (transaction_id, visit_id, amount) values ('3', '5', '300')

In [13]:
insert into Transactions (transaction_id, visit_id, amount) values ('9', '5', '200')

In [14]:
insert into Transactions (transaction_id, visit_id, amount) values ('12', '1', '910')

In [15]:
insert into Transactions (transaction_id, visit_id, amount) values ('13', '2', '970')

In [16]:
select * from visits

+----------+-------------+
| visit_id | customer_id |
+----------+-------------+
| 1        | 23          |
+----------+-------------+
| 2        | 9           |
+----------+-------------+
| 4        | 30          |
+----------+-------------+
| 5        | 54          |
+----------+-------------+
| 6        | 96          |
+----------+-------------+
| 7        | 54          |
+----------+-------------+
| 8        | 54          |
+----------+-------------+

In [17]:
select * from transactions

+----------------+----------+--------+
| transaction_id | visit_id | amount |
+----------------+----------+--------+
| 2              | 5        | 310    |
+----------------+----------+--------+
| 3              | 5        | 300    |
+----------------+----------+--------+
| 9              | 5        | 200    |
+----------------+----------+--------+
| 12             | 1        | 910    |
+----------------+----------+--------+
| 13             | 2        | 970    |
+----------------+----------+--------+

## Write a solution to find the IDs of the users who visited without making any transactions and the number of times they made these types of visits.

Return the result table sorted in any order.