In [ ]:
%load tutorial.db [rw]

In [ ]:
Create table If Not Exists cinema (id int, movie varchar(255), description varchar(255), rating float(2, 1))

In [ ]:
insert into cinema (id, movie, description, rating) values ('1', 'War', 'great 3D', '8.9')

In [ ]:
insert into cinema (id, movie, description, rating) values ('2', 'Science', 'fiction', '8.5')

In [ ]:
insert into cinema (id, movie, description, rating) values ('3', 'irish', 'boring', '6.2')

In [ ]:
insert into cinema (id, movie, description, rating) values ('4', 'Ice song', 'Fantacy', '8.6')

In [ ]:
insert into cinema (id, movie, description, rating) values ('5', 'House card', 'Interesting', '9.1')

In [ ]:
select * from cinema

+----+------------+-------------+--------+
| id | movie      | description | rating |
+----+------------+-------------+--------+
| 1  | War        | great 3D    | 8.9    |
+----+------------+-------------+--------+
| 2  | Science    | fiction     | 8.5    |
+----+------------+-------------+--------+
| 3  | irish      | boring      | 6.2    |
+----+------------+-------------+--------+
| 4  | Ice song   | Fantacy     | 8.6    |
+----+------------+-------------+--------+
| 5  | House card | Interesting | 9.1    |
+----+------------+-------------+--------+

## Write a solution to report the movies with an odd-numbered ID and a description that is not "boring".

Return the result table ordered by rating in descending order.

In [ ]:
select * from cinema where mod(id,2)=1 and description not like "boring" order by rating desc

+----+------------+-------------+--------+
| id | movie      | description | rating |
+----+------------+-------------+--------+
| 5  | House card | Interesting | 9.1    |
+----+------------+-------------+--------+
| 1  | War        | great 3D    | 8.9    |
+----+------------+-------------+--------+