In [ ]:
%load tutorial.db [rw]

In [ ]:
Create table If Not Exists Prices (product_id int, start_date date, end_date date, price int)

In [ ]:
Create table If Not Exists UnitsSold (product_id int, purchase_date date, units int)

In [ ]:
insert into Prices (product_id, start_date, end_date, price) values ('1', '2019-02-17', '2019-02-28', '5')

In [ ]:
insert into Prices (product_id, start_date, end_date, price) values ('1', '2019-03-01', '2019-03-22', '20')

In [ ]:
insert into Prices (product_id, start_date, end_date, price) values ('2', '2019-02-01', '2019-02-20', '15')

In [ ]:
insert into Prices (product_id, start_date, end_date, price) values ('2', '2019-02-21', '2019-03-31', '30')

In [ ]:
insert into UnitsSold (product_id, purchase_date, units) values ('1', '2019-02-25', '100')

In [ ]:
insert into UnitsSold (product_id, purchase_date, units) values ('1', '2019-03-01', '15')

In [ ]:
insert into UnitsSold (product_id, purchase_date, units) values ('2', '2019-02-10', '200')

In [ ]:
insert into UnitsSold (product_id, purchase_date, units) values ('2', '2019-03-22', '30')

In [ ]:
select * from prices

+------------+------------+------------+-------+
| product_id | start_date | end_date   | price |
+------------+------------+------------+-------+
| 1          | 2019-02-17 | 2019-02-28 | 5     |
+------------+------------+------------+-------+
| 1          | 2019-03-01 | 2019-03-22 | 20    |
+------------+------------+------------+-------+
| 2          | 2019-02-01 | 2019-02-20 | 15    |
+------------+------------+------------+-------+
| 2          | 2019-02-21 | 2019-03-31 | 30    |
+------------+------------+------------+-------+

In [ ]:
select * FROM unitssold

+------------+---------------+-------+
| product_id | purchase_date | units |
+------------+---------------+-------+
| 1          | 2019-02-25    | 100   |
+------------+---------------+-------+
| 1          | 2019-03-01    | 15    |
+------------+---------------+-------+
| 2          | 2019-02-10    | 200   |
+------------+---------------+-------+
| 2          | 2019-03-22    | 30    |
+------------+---------------+-------+

## Write a solution to find the average selling price for each product

In [ ]:
select * from prices p, unitssold u
where p.product_id=u.product_id and p.start_date<=u.purchase_date  and u.purchase_date<=p.end_date

+------------+------------+------------+-------+------------+---------------+-------+
| product_id | start_date | end_date   | price | product_id | purchase_date | units |
+------------+------------+------------+-------+------------+---------------+-------+
| 1          | 2019-02-17 | 2019-02-28 | 5     | 1          | 2019-02-25    | 100   |
+------------+------------+------------+-------+------------+---------------+-------+
| 1          | 2019-03-01 | 2019-03-22 | 20    | 1          | 2019-03-01    | 15    |
+------------+------------+------------+-------+------------+---------------+-------+
| 2          | 2019-02-01 | 2019-02-20 | 15    | 2          | 2019-02-10    | 200   |
+------------+------------+------------+-------+------------+---------------+-------+
| 2          | 2019-02-21 | 2019-03-31 | 30    | 2          | 2019-03-22    | 30    |
+------------+------------+------------+-------+------------+---------------+-------+

In [ ]:
select product_id, COALESCE(round(cast(sum(price*units) as real)/sum(units),2),0) as average_price
from (
    select * from (
        select p.product_id, p.price, u.units from prices p, unitssold u
        where u.product_id=p.product_id and p.start_date<=u.purchase_date  and u.purchase_date<=p.end_date
    )
    right join (select distinct product_id from prices) using (product_id)
)
group by product_id

+------------+---------------+
| product_id | average_price |
+------------+---------------+
| 1          | 6.96          |
+------------+---------------+
| 2          | 16.96         |
+------------+---------------+