In [ ]:
%load tutorial.db [rw]

In [ ]:
Create table If Not Exists Users (user_id int, user_name varchar(20))

In [ ]:
Create table If Not Exists Register (contest_id int, user_id int)

In [ ]:
insert into Users (user_id, user_name) values ('6', 'Alice')

In [ ]:
insert into Users (user_id, user_name) values ('2', 'Bob')

In [ ]:
insert into Users (user_id, user_name) values ('7', 'Alex')

In [ ]:
insert into Register (contest_id, user_id) values ('215', '6')

In [ ]:
insert into Register (contest_id, user_id) values ('209', '2')

In [ ]:
insert into Register (contest_id, user_id) values ('208', '2')

In [ ]:
insert into Register (contest_id, user_id) values ('210', '6')

In [ ]:
insert into Register (contest_id, user_id) values ('208', '6')

In [ ]:
insert into Register (contest_id, user_id) values ('209', '7')

In [ ]:
insert into Register (contest_id, user_id) values ('209', '6')

In [ ]:
insert into Register (contest_id, user_id) values ('215', '7')

In [ ]:
insert into Register (contest_id, user_id) values ('208', '7')

In [ ]:
insert into Register (contest_id, user_id) values ('210', '2')

In [ ]:
insert into Register (contest_id, user_id) values ('207', '2')

In [ ]:
insert into Register (contest_id, user_id) values ('210', '7')

In [ ]:
select * from register

+------------+---------+
| contest_id | user_id |
+------------+---------+
| 215        | 6       |
+------------+---------+
| 209        | 2       |
+------------+---------+
| 208        | 2       |
+------------+---------+
| 210        | 6       |
+------------+---------+
| 208        | 6       |
+------------+---------+
| 209        | 7       |
+------------+---------+
| 209        | 6       |
+------------+---------+
| 215        | 7       |
+------------+---------+
| 208        | 7       |
+------------+---------+
| 210        | 2       |
+------------+---------+
| 207        | 2       |
+------------+---------+
| 210        | 7       |
+------------+---------+

In [ ]:
select * from users

+---------+-----------+
| user_id | user_name |
+---------+-----------+
| 6       | Alice     |
+---------+-----------+
| 2       | Bob       |
+---------+-----------+
| 7       | Alex      |
+---------+-----------+

## Write a solution to find the percentage of the users registered in each contest

Return the result table ordered by percentage in descending order. In case of a tie, order it by contest_id in ascending order.

In [ ]:
select count(distinct user_id) from users

+-------------------------+
| count(distinct user_id) |
+-------------------------+
| 3                       |
+-------------------------+

In [ ]:
select contest_id, cast(count(*) as real)*100/(select count(distinct user_id) from users) as perc 
from register group by contest_id
order by perc desc, contest_id asc

+------------+------------------+
| contest_id | perc             |
+------------+------------------+
| 208        | 100.0            |
+------------+------------------+
| 209        | 100.0            |
+------------+------------------+
| 210        | 100.0            |
+------------+------------------+
| 215        | 66.6666666666667 |
+------------+------------------+
| 207        | 33.3333333333333 |
+------------+------------------+