In [ ]:
%load tutorial.db [rw]

In [ ]:
Create table If Not Exists Queries (query_name varchar(30), result varchar(50), position int, rating int)

In [ ]:
insert into Queries (query_name, result, position, rating) values ('Dog', 'Golden Retriever', '1', '5')

In [ ]:
insert into Queries (query_name, result, position, rating) values ('Dog', 'German Shepherd', '2', '5')

In [ ]:
insert into Queries (query_name, result, position, rating) values ('Dog', 'Mule', '200', '1')

In [ ]:
insert into Queries (query_name, result, position, rating) values ('Cat', 'Shirazi', '5', '2')

In [ ]:
insert into Queries (query_name, result, position, rating) values ('Cat', 'Siamese', '3', '3')

In [ ]:
insert into Queries (query_name, result, position, rating) values ('Cat', 'Sphynx', '7', '4')

In [ ]:
select * from queries

+------------+------------------+----------+--------+
| query_name | result           | position | rating |
+------------+------------------+----------+--------+
| Dog        | Golden Retriever | 1        | 5      |
+------------+------------------+----------+--------+
| Dog        | German Shepherd  | 2        | 5      |
+------------+------------------+----------+--------+
| Dog        | Mule             | 200      | 1      |
+------------+------------------+----------+--------+
| Cat        | Shirazi          | 5        | 2      |
+------------+------------------+----------+--------+
| Cat        | Siamese          | 3        | 3      |
+------------+------------------+----------+--------+
| Cat        | Sphynx           | 7        | 4      |
+------------+------------------+----------+--------+

## Write a solution to find each query_name, the quality and poor_query_percentage

`quality`: average ratio rating/position  
`poor_query_percentage`: % of those rating less than 3

In [ ]:
select query_name, 1.0*rating/position quality, rating<3 poor_query_percentage
from queries

+------------+-------------------+-----------------------+
| query_name | quality           | poor_query_percentage |
+------------+-------------------+-----------------------+
| Dog        | 5.0               | 0                     |
+------------+-------------------+-----------------------+
| Dog        | 2.5               | 0                     |
+------------+-------------------+-----------------------+
| Dog        | 0.005             | 1                     |
+------------+-------------------+-----------------------+
| Cat        | 0.4               | 1                     |
+------------+-------------------+-----------------------+
| Cat        | 1.0               | 0                     |
+------------+-------------------+-----------------------+
| Cat        | 0.571428571428571 | 0                     |
+------------+-------------------+-----------------------+

In [ ]:
select query_name, round(avg(1.0*rating/position),2) quality, round(avg(rating<3)*100,2) poor_query_percentage
from queries 
group by query_name

+------------+---------+-----------------------+
| query_name | quality | poor_query_percentage |
+------------+---------+-----------------------+
| Cat        | 0.66    | 33.33                 |
+------------+---------+-----------------------+
| Dog        | 2.5     | 33.33                 |
+------------+---------+-----------------------+