In [ ]:
%load tutorial.db [rw]

In [ ]:
Create table If Not Exists Transactionss (id int, country varchar(4), state text, amount int, trans_date date)

In [ ]:
insert into Transactionss (id, country, state, amount, trans_date) values ('121', 'US', 'approved', '1000', '2018-12-18')

In [ ]:
insert into Transactionss (id, country, state, amount, trans_date) values ('122', 'US', 'declined', '2000', '2018-12-19')

In [ ]:
insert into Transactionss (id, country, state, amount, trans_date) values ('123', 'US', 'approved', '2000', '2019-01-01')

In [ ]:
insert into Transactionss (id, country, state, amount, trans_date) values ('124', 'DE', 'approved', '2000', '2019-01-07')

In [ ]:
select * from transactionss

+-----+---------+----------+--------+------------+
| id  | country | state    | amount | trans_date |
+-----+---------+----------+--------+------------+
| 121 | US      | approved | 1000   | 2018-12-18 |
+-----+---------+----------+--------+------------+
| 122 | US      | declined | 2000   | 2018-12-19 |
+-----+---------+----------+--------+------------+
| 123 | US      | approved | 2000   | 2019-01-01 |
+-----+---------+----------+--------+------------+
| 124 | DE      | approved | 2000   | 2019-01-07 |
+-----+---------+----------+--------+------------+

## Write an SQL query to find for each month and country, the number of transactions and their total amount, the number of approved transactions and their total amount.

In [ ]:
select strftime('%Y-%m', trans_date) month, country  from transactionss

+---------+---------+
| month   | country |
+---------+---------+
| 2018-12 | US      |
+---------+---------+
| 2018-12 | US      |
+---------+---------+
| 2019-01 | US      |
+---------+---------+
| 2019-01 | DE      |
+---------+---------+

In [ ]:
select
    strftime('%Y-%m', trans_date) month, 
    country, 
    count(*) num_trans, 
    sum(amount) total_amount,
    sum(state='approved') num_trans_approved,
    sum(case when state='approved' then amount*1 else amount*0 end) total_amount_approved
from transactionss group by month, country
-- limit 2

+---------+---------+-----------+--------------+--------------------+-----------------------+
| month   | country | num_trans | total_amount | num_trans_approved | total_amount_approved |
+---------+---------+-----------+--------------+--------------------+-----------------------+
| 2018-12 | US      | 2         | 3000         | 1                  | 1000                  |
+---------+---------+-----------+--------------+--------------------+-----------------------+
| 2019-01 | DE      | 1         | 2000         | 1                  | 2000                  |
+---------+---------+-----------+--------------+--------------------+-----------------------+
| 2019-01 | US      | 1         | 2000         | 1                  | 2000                  |
+---------+---------+-----------+--------------+--------------------+-----------------------+