In [ ]:
%load tutorial.db [rw]

In [ ]:
Create table If Not Exists Activitys (player_id int, device_id int, event_date date, games_played int)

In [ ]:
insert into Activitys (player_id, device_id, event_date, games_played) values ('1', '2', '2016-03-01', '5')

In [ ]:
insert into Activitys (player_id, device_id, event_date, games_played) values ('1', '2', '2016-03-02', '6')

In [ ]:
insert into Activitys (player_id, device_id, event_date, games_played) values ('2', '3', '2017-06-25', '1')

In [ ]:
insert into Activitys (player_id, device_id, event_date, games_played) values ('3', '1', '2016-03-02', '0')

In [ ]:
insert into Activitys (player_id, device_id, event_date, games_played) values ('3', '4', '2018-07-03', '5')

In [ ]:
select * from activitys

+-----------+-----------+------------+--------------+
| player_id | device_id | event_date | games_played |
+-----------+-----------+------------+--------------+
| 1         | 2         | 2016-03-01 | 5            |
+-----------+-----------+------------+--------------+
| 1         | 2         | 2016-03-02 | 6            |
+-----------+-----------+------------+--------------+
| 2         | 3         | 2017-06-25 | 1            |
+-----------+-----------+------------+--------------+
| 3         | 1         | 2016-03-02 | 0            |
+-----------+-----------+------------+--------------+
| 3         | 4         | 2018-07-03 | 5            |
+-----------+-----------+------------+--------------+

## Write a solution to report the fraction of players that logged in again on the day after the day they first logged in, rounded to 2 decimal places. In other words, you need to count the number of players that logged in for at least two consecutive days starting from their first login date, then divide that number by the total number of players.

In [ ]:
select date(event_date,'+1 day')
from activitys

+---------------------------+
| date(event_date,'+1 day') |
+---------------------------+
| 2016-03-02                |
+---------------------------+
| 2016-03-03                |
+---------------------------+
| 2017-06-26                |
+---------------------------+
| 2016-03-03                |
+---------------------------+
| 2018-07-04                |
+---------------------------+

In [ ]:
select player_id, date(min(event_date),"+1 day") as second_day from activitys group by player_id

+-----------+------------+
| player_id | second_day |
+-----------+------------+
| 1         | 2016-03-02 |
+-----------+------------+
| 2         | 2017-06-26 |
+-----------+------------+
| 3         | 2016-03-03 |
+-----------+------------+

In [ ]:
select count(*) as number_of_two_day_player
from 
    (select player_id, date(min(event_date),"+1 day") as second_day from activitys group by player_id) b, 
    activitys a
where a.player_id = b.player_id and b.second_day = a.event_date

+--------------------------+
| number_of_two_day_player |
+--------------------------+
| 1                        |
+--------------------------+

In [ ]:
with t_two_day as (
    select count(*) as number_of_two_day_player
    from 
        (select player_id, date(min(event_date),"+1 day") as second_day from activitys group by player_id) b, 
        activitys a
    where a.player_id = b.player_id and b.second_day = a.event_date
),
t_player_count as (select count(distinct(player_id)) as player_count from activitys)

select 1.0*t_two_day.number_of_two_day_player/t_player_count.player_count as percentage from t_player_count, t_two_day

+-------------------+
| percentage        |
+-------------------+
| 0.333333333333333 |
+-------------------+