In [ ]:
%load tutorial.db [rw]

In [ ]:
Create table If Not Exists ActivityU (user_id int, session_id int, activity_date date, activity_type text)

In [ ]:
insert into ActivityU (user_id, session_id, activity_date, activity_type) values ('1', '1', '2019-07-20', 'open_session')

In [ ]:
insert into ActivityU (user_id, session_id, activity_date, activity_type) values ('1', '1', '2019-07-20', 'scroll_down')

In [ ]:
insert into ActivityU (user_id, session_id, activity_date, activity_type) values ('1', '1', '2019-07-20', 'end_session')

In [ ]:
insert into ActivityU (user_id, session_id, activity_date, activity_type) values ('2', '4', '2019-07-20', 'open_session')

In [ ]:
insert into ActivityU (user_id, session_id, activity_date, activity_type) values ('2', '4', '2019-07-21', 'send_message')

In [ ]:
insert into ActivityU (user_id, session_id, activity_date, activity_type) values ('2', '4', '2019-07-21', 'end_session')

In [ ]:
insert into ActivityU (user_id, session_id, activity_date, activity_type) values ('3', '2', '2019-07-21', 'open_session')

In [ ]:
insert into ActivityU (user_id, session_id, activity_date, activity_type) values ('3', '2', '2019-07-21', 'send_message')

In [ ]:
insert into ActivityU (user_id, session_id, activity_date, activity_type) values ('3', '2', '2019-07-21', 'end_session')

In [ ]:
insert into ActivityU (user_id, session_id, activity_date, activity_type) values ('4', '3', '2019-06-25', 'open_session')

In [ ]:
insert into ActivityU (user_id, session_id, activity_date, activity_type) values ('4', '3', '2019-06-25', 'end_session')

In [ ]:
select * from activityu

+---------+------------+---------------+---------------+
| user_id | session_id | activity_date | activity_type |
+---------+------------+---------------+---------------+
| 1       | 1          | 2019-07-20    | open_session  |
+---------+------------+---------------+---------------+
| 1       | 1          | 2019-07-20    | scroll_down   |
+---------+------------+---------------+---------------+
| 1       | 1          | 2019-07-20    | end_session   |
+---------+------------+---------------+---------------+
| 2       | 4          | 2019-07-20    | open_session  |
+---------+------------+---------------+---------------+
| 2       | 4          | 2019-07-21    | send_message  |
+---------+------------+---------------+---------------+
| 2       | 4          | 2019-07-21    | end_session   |
+---------+------------+---------------+---------------+
| 3       | 2          | 2019-07-21    | open_session  |
+---------+------------+---------------+---------------+
| 3       | 2          | 2019-07-21    | send_message  |
+---------+------------+---------------+---------------+
| 3       | 2          | 2019-07-21    | end_session   |
+---------+------------+---------------+---------------+
| 4       | 3          | 2019-06-25    | open_session  |
+---------+------------+---------------+---------------+
| 4       | 3          | 2019-06-25    | end_session   |
+---------+------------+---------------+---------------+

## Write a solution to find the daily active user count for a period of 30 days ending 2019-07-27 inclusively. A user was active on someday if they made at least one activity on that day.

In [ ]:
select activity_date day, count(distinct user_id) active_users
from activityu 
where activity_date> Date('2019-07-27', '-30 days') and activity_date<= Date('2019-07-27')
group by activity_date

+------------+--------------+
| day        | active_users |
+------------+--------------+
| 2019-07-20 | 2            |
+------------+--------------+
| 2019-07-21 | 2            |
+------------+--------------+