In [ ]:
%load tutorial.db [rw]

In [ ]:
Create table If Not Exists Courses (student varchar(255), class varchar(255))

In [ ]:
insert into Courses (student, class) values ('A', 'Math')

In [ ]:
insert into Courses (student, class) values ('B', 'English')

In [ ]:
insert into Courses (student, class) values ('C', 'Math')

In [ ]:
insert into Courses (student, class) values ('D', 'Biology')

In [ ]:
insert into Courses (student, class) values ('E', 'Math')

In [ ]:
insert into Courses (student, class) values ('F', 'Computer')

In [ ]:
insert into Courses (student, class) values ('G', 'Math')

In [ ]:
insert into Courses (student, class) values ('H', 'Math')

In [ ]:
insert into Courses (student, class) values ('I', 'Math')

In [ ]:
select * from courses

+---------+----------+
| student | class    |
+---------+----------+
| A       | Math     |
+---------+----------+
| B       | English  |
+---------+----------+
| C       | Math     |
+---------+----------+
| D       | Biology  |
+---------+----------+
| E       | Math     |
+---------+----------+
| F       | Computer |
+---------+----------+
| G       | Math     |
+---------+----------+
| H       | Math     |
+---------+----------+
| I       | Math     |
+---------+----------+

## Write a solution to find all the classes that have at least five students.

In [ ]:
select class from (select class, count(*) cnt from courses group by class) where cnt>=5

+-------+
| class |
+-------+
| Math  |
+-------+