In [ ]:
%load tutorial.db [rw]

In [ ]:
Create table If Not Exists Followers(user_id int, follower_id int)

In [ ]:
insert into Followers (user_id, follower_id) values ('0', '1')

In [ ]:
insert into Followers (user_id, follower_id) values ('1', '0')

In [ ]:
insert into Followers (user_id, follower_id) values ('2', '0')

In [ ]:
insert into Followers (user_id, follower_id) values ('2', '1')

In [ ]:
select * from followers

+---------+-------------+
| user_id | follower_id |
+---------+-------------+
| 0       | 1           |
+---------+-------------+
| 1       | 0           |
+---------+-------------+
| 2       | 0           |
+---------+-------------+
| 2       | 1           |
+---------+-------------+

## Write a solution that will, for each user, return the number of followers.

In [ ]:
select user_id, count(distinct follower_id) followers_count from followers group by user_id
order by user_id

+---------+-----------------+
| user_id | followers_count |
+---------+-----------------+
| 0       | 1               |
+---------+-----------------+
| 1       | 1               |
+---------+-----------------+
| 2       | 2               |
+---------+-----------------+