In [ ]:
%load tutorial.db [rw]

In [ ]:
Create table If Not Exists MyNumbers (num int)

In [ ]:
insert into MyNumbers (num) values ('8')

In [ ]:
insert into MyNumbers (num) values ('8')

In [ ]:
insert into MyNumbers (num) values ('3')

In [ ]:
insert into MyNumbers (num) values ('3')

In [ ]:
insert into MyNumbers (num) values ('1')

In [ ]:
insert into MyNumbers (num) values ('4')

In [ ]:
insert into MyNumbers (num) values ('5')

In [ ]:
insert into MyNumbers (num) values ('6')

In [ ]:
select * from mynumbers

+-----+
| num |
+-----+
| 8   |
+-----+
| 8   |
+-----+
| 3   |
+-----+
| 3   |
+-----+
| 1   |
+-----+
| 4   |
+-----+
| 5   |
+-----+
| 6   |
+-----+

## A single number is a number that appeared only once in the MyNumbers table.

Find the largest single number. If there is no single number, report null.

In [ ]:
select num, count(num) n from mynumbers group by num

+-----+---+
| num | n |
+-----+---+
| 1   | 1 |
+-----+---+
| 3   | 2 |
+-----+---+
| 4   | 1 |
+-----+---+
| 5   | 1 |
+-----+---+
| 6   | 1 |
+-----+---+
| 8   | 2 |
+-----+---+

In [ ]:
select num from (select num, count(num) n from mynumbers group by num ) where n=1

+-----+
| num |
+-----+
| 1   |
+-----+
| 4   |
+-----+
| 5   |
+-----+
| 6   |
+-----+

In [ ]:
select max(num) from (select num, count(num) n from mynumbers group by num ) where n=3

+----------+
| max(num) |
+----------+

+----------+

In [ ]:
select max(num) from (select num, count(num) n from mynumbers group by num ) where n=1

+----------+
| max(num) |
+----------+
| 6        |
+----------+