In [ ]:
%load tutorial.db [rw]

In [ ]:
Create table If Not Exists Customerc (customer_id int, product_key int)

In [ ]:
Create table Productk (product_key int)

In [ ]:
insert into Customerc (customer_id, product_key) values ('1', '5')

In [ ]:
insert into Customerc (customer_id, product_key) values ('2', '6')

In [ ]:
insert into Customerc (customer_id, product_key) values ('3', '5')

In [ ]:
insert into Customerc (customer_id, product_key) values ('3', '6')

In [ ]:
insert into Customerc (customer_id, product_key) values ('1', '6')

In [ ]:
insert into Productk (product_key) values ('5')

In [ ]:
insert into Productk (product_key) values ('6')

In [ ]:
select * from customerc

+-------------+-------------+
| customer_id | product_key |
+-------------+-------------+
| 1           | 5           |
+-------------+-------------+
| 2           | 6           |
+-------------+-------------+
| 3           | 5           |
+-------------+-------------+
| 3           | 6           |
+-------------+-------------+
| 1           | 6           |
+-------------+-------------+

In [ ]:
select * from productk

+-------------+
| product_key |
+-------------+
| 5           |
+-------------+
| 6           |
+-------------+

## Write a solution to report the customer ids from the Customer table that bought all the products in the Product table.

In [ ]:
with t as (
    select customer_id, count(distinct product_key) cnt from customerc group by customer_id
),
p as (select count(product_key) cnt from productk)

select customer_id from t, p where t.cnt= p.cnt

+-------------+
| customer_id |
+-------------+
| 1           |
+-------------+
| 3           |
+-------------+