In [ ]:
%load tutorial.db [rw]

In [ ]:
Create table If Not Exists Employee4 (employee_id int, department_id int, primary_flag text)

In [ ]:
insert into Employee4 (employee_id, department_id, primary_flag) values ('1', '1', 'N')

In [ ]:
insert into Employee4 (employee_id, department_id, primary_flag) values ('2', '1', 'Y')

In [ ]:
insert into Employee4 (employee_id, department_id, primary_flag) values ('2', '2', 'N')

In [ ]:
insert into Employee4 (employee_id, department_id, primary_flag) values ('3', '3', 'N')

In [ ]:
insert into Employee4 (employee_id, department_id, primary_flag) values ('4', '2', 'N')

In [ ]:
insert into Employee4 (employee_id, department_id, primary_flag) values ('4', '3', 'Y')

In [ ]:
insert into Employee4 (employee_id, department_id, primary_flag) values ('4', '4', 'N')

In [ ]:
select * from employee4

+-------------+---------------+--------------+
| employee_id | department_id | primary_flag |
+-------------+---------------+--------------+
| 1           | 1             | N            |
+-------------+---------------+--------------+
| 2           | 1             | Y            |
+-------------+---------------+--------------+
| 2           | 2             | N            |
+-------------+---------------+--------------+
| 3           | 3             | N            |
+-------------+---------------+--------------+
| 4           | 2             | N            |
+-------------+---------------+--------------+
| 4           | 3             | Y            |
+-------------+---------------+--------------+
| 4           | 4             | N            |
+-------------+---------------+--------------+

## Employees can belong to multiple departments. When the employee joins other departments, they need to decide which department is their primary department. Note that when an employee belongs to only one department, their primary column is 'N'.

Write a solution to report all the employees with their primary department. For employees who belong to one department, report their only department.

In [ ]:
select employee_id, department_id from employee4 where primary_flag='Y'

+-------------+---------------+
| employee_id | department_id |
+-------------+---------------+
| 2           | 1             |
+-------------+---------------+
| 4           | 3             |
+-------------+---------------+

In [ ]:
select employee_id, department_id
from (select employee_id, min(department_id) department_id, count(*) cnt from employee4 group by employee_id) where cnt=1

+-------------+---------------+
| employee_id | department_id |
+-------------+---------------+
| 1           | 1             |
+-------------+---------------+
| 3           | 3             |
+-------------+---------------+

In [ ]:
select employee_id, department_id from employee4 where primary_flag='Y' 
    union 
select employee_id, department_id
from (select employee_id, min(department_id) department_id, count(*) cnt from employee4 group by employee_id) where cnt=1

+-------------+---------------+
| employee_id | department_id |
+-------------+---------------+
| 1           | 1             |
+-------------+---------------+
| 2           | 1             |
+-------------+---------------+
| 3           | 3             |
+-------------+---------------+
| 4           | 3             |
+-------------+---------------+