In [ ]:
%load tutorial.db [rw]

In [ ]:
Create table If Not Exists Triangle (x int, y int, z int)

In [ ]:
insert into Triangle (x, y, z) values ('13', '15', '30')

In [ ]:
insert into Triangle (x, y, z) values ('10', '20', '15')

In [ ]:
select * from triangle

+----+----+----+
| x  | y  | z  |
+----+----+----+
| 13 | 15 | 30 |
+----+----+----+
| 10 | 20 | 15 |
+----+----+----+

In [ ]:
select x,y,z, case when x+y>z and x+z>y and y+z>x then 'No' else 'Yes' end triangle from triangle

+----+----+----+----------+
| x  | y  | z  | triangle |
+----+----+----+----------+
| 13 | 15 | 30 | Yes      |
+----+----+----+----------+
| 10 | 20 | 15 | No       |
+----+----+----+----------+