In [ ]:
%load tutorial.db [rw]

In [ ]:
Create table If Not Exists Logs (id int, num int)

In [ ]:
insert into Logs (id, num) values ('1', '1')

In [ ]:
insert into Logs (id, num) values ('2', '1')

In [ ]:
insert into Logs (id, num) values ('3', '1')

In [ ]:
insert into Logs (id, num) values ('4', '2')

In [ ]:
insert into Logs (id, num) values ('5', '1')

In [ ]:
insert into Logs (id, num) values ('6', '2')

In [ ]:
insert into Logs (id, num) values ('7', '2')

In [ ]:
select * from logs

+----+-----+
| id | num |
+----+-----+
| 1  | 1   |
+----+-----+
| 2  | 1   |
+----+-----+
| 3  | 1   |
+----+-----+
| 4  | 2   |
+----+-----+
| 5  | 1   |
+----+-----+
| 6  | 2   |
+----+-----+
| 7  | 2   |
+----+-----+

In [ ]:
select distinct l1.num ConsecutiveNums
from logs l1, logs l2, logs l3
where l1.id = l2.id+1 and l1.id = l3.id+2 and l1.num=l2.num and l1.num=l3.num

+-----------------+
| ConsecutiveNums |
+-----------------+
| 1               |
+-----------------+