In [ ]:
%load tutorial.db [rw]

In [ ]:
Create table If Not Exists Productss (product_id int, new_price int, change_date date)

In [ ]:
insert into Productss (product_id, new_price, change_date) values ('1', '20', '2019-08-14')

In [ ]:
insert into Productss (product_id, new_price, change_date) values ('2', '50', '2019-08-14')

In [ ]:
insert into Productss (product_id, new_price, change_date) values ('1', '30', '2019-08-15')

In [ ]:
insert into Productss (product_id, new_price, change_date) values ('1', '35', '2019-08-16')

In [ ]:
insert into Productss (product_id, new_price, change_date) values ('2', '65', '2019-08-17')

In [ ]:
insert into Productss (product_id, new_price, change_date) values ('3', '20', '2019-08-18')

In [ ]:
select * from productss

+------------+-----------+-------------+
| product_id | new_price | change_date |
+------------+-----------+-------------+
| 1          | 20        | 2019-08-14  |
+------------+-----------+-------------+
| 2          | 50        | 2019-08-14  |
+------------+-----------+-------------+
| 1          | 30        | 2019-08-15  |
+------------+-----------+-------------+
| 1          | 35        | 2019-08-16  |
+------------+-----------+-------------+
| 2          | 65        | 2019-08-17  |
+------------+-----------+-------------+
| 3          | 20        | 2019-08-18  |
+------------+-----------+-------------+

In [ ]:
select product_id, 10 price from (
    select product_id, min(change_date) min_change from productss group by product_id
    ) 
where min_change>'2019-08-16'

+------------+-------+
| product_id | price |
+------------+-------+
| 3          | 10    |
+------------+-------+

In [ ]:
select product_id, max(change_date) change_date from productss
where change_date<='2019-08-16'
group by product_id

+------------+-------------+
| product_id | change_date |
+------------+-------------+
| 1          | 2019-08-16  |
+------------+-------------+
| 2          | 2019-08-14  |
+------------+-------------+

In [ ]:
select product_id, 10 price from (
    select product_id, min(change_date) min_change from productss group by product_id
    ) 
where min_change>'2019-08-16'
union
select product_id, new_price price from productss where (product_id, change_date) in 
(
    select product_id, max(change_date) change_date from productss
    where change_date<='2019-08-16'
    group by product_id
)

+------------+-------+
| product_id | price |
+------------+-------+
| 1          | 35    |
+------------+-------+
| 2          | 50    |
+------------+-------+
| 3          | 10    |
+------------+-------+