In [ ]:
%load tutorial.db [rw]

In [ ]:
Create table If Not Exists Queue (person_id int, person_name varchar(30), weight int, turn int)

In [ ]:
insert into Queue (person_id, person_name, weight, turn) values ('5', 'Alice', '250', '1')

In [ ]:
insert into Queue (person_id, person_name, weight, turn) values ('4', 'Bob', '175', '5')

In [ ]:
insert into Queue (person_id, person_name, weight, turn) values ('3', 'Alex', '350', '2')

In [ ]:
insert into Queue (person_id, person_name, weight, turn) values ('6', 'John Cena', '400', '3')

In [ ]:
insert into Queue (person_id, person_name, weight, turn) values ('1', 'Winston', '500', '6')

In [ ]:
insert into Queue (person_id, person_name, weight, turn) values ('2', 'Marie', '200', '4')

In [ ]:
select * from queue order by turn

+-----------+-------------+--------+------+
| person_id | person_name | weight | turn |
+-----------+-------------+--------+------+
| 5         | Alice       | 250    | 1    |
+-----------+-------------+--------+------+
| 3         | Alex        | 350    | 2    |
+-----------+-------------+--------+------+
| 6         | John Cena   | 400    | 3    |
+-----------+-------------+--------+------+
| 2         | Marie       | 200    | 4    |
+-----------+-------------+--------+------+
| 4         | Bob         | 175    | 5    |
+-----------+-------------+--------+------+
| 1         | Winston     | 500    | 6    |
+-----------+-------------+--------+------+

## There is a queue of people waiting to board a bus. However, the bus has a weight limit of 1000 kilograms, so there may be some people who cannot board.

Write a solution to find the person_name of the last person that can fit on the bus without exceeding the weight limit. The test cases are generated such that the first person does not exceed the weight limit.

In [ ]:
select person_name, sum(weight) over (order by turn) cumsum from queue

+-------------+--------+
| person_name | cumsum |
+-------------+--------+
| Alice       | 250    |
+-------------+--------+
| Alex        | 600    |
+-------------+--------+
| John Cena   | 1000   |
+-------------+--------+
| Marie       | 1200   |
+-------------+--------+
| Bob         | 1375   |
+-------------+--------+
| Winston     | 1875   |
+-------------+--------+

In [ ]:
select * from (select person_name, sum(weight) over (order by turn) cumsum from queue order by cumsum desc)
where cumsum<=1000

+-------------+--------+
| person_name | cumsum |
+-------------+--------+
| John Cena   | 1000   |
+-------------+--------+
| Alex        | 600    |
+-------------+--------+
| Alice       | 250    |
+-------------+--------+

In [ ]:
select person_name from (select person_name, sum(weight) over (order by turn) cumsum from queue order by cumsum desc)
where cumsum<=1000
limit 1

+-------------+
| person_name |
+-------------+
| John Cena   |
+-------------+