In [ ]:
%load tutorial.db [rw]

In [ ]:
Create table If Not Exists Movies (movie_id int, title varchar(30))

In [ ]:
Create table If Not Exists Userss (user_id int, name varchar(30))

In [ ]:
Create table If Not Exists MovieRating (movie_id int, user_id int, rating int, created_at date)

In [ ]:
insert into Movies (movie_id, title) values ('1', 'Avengers')

In [ ]:
insert into Movies (movie_id, title) values ('2', 'Frozen 2')

In [ ]:
insert into Movies (movie_id, title) values ('3', 'Joker')

In [ ]:
insert into Userss (user_id, name) values ('1', 'Daniel')

In [ ]:
insert into Userss (user_id, name) values ('2', 'Monica')

In [ ]:
insert into Userss (user_id, name) values ('3', 'Maria')

In [ ]:
insert into Userss (user_id, name) values ('4', 'James')

In [ ]:
insert into MovieRating (movie_id, user_id, rating, created_at) values ('1', '1', '3', '2020-01-12')

In [ ]:
insert into MovieRating (movie_id, user_id, rating, created_at) values ('1', '2', '4', '2020-02-11')

In [ ]:
insert into MovieRating (movie_id, user_id, rating, created_at) values ('1', '3', '2', '2020-02-12')

In [ ]:
insert into MovieRating (movie_id, user_id, rating, created_at) values ('1', '4', '1', '2020-01-01')

In [ ]:
insert into MovieRating (movie_id, user_id, rating, created_at) values ('2', '1', '5', '2020-02-17')

In [ ]:
insert into MovieRating (movie_id, user_id, rating, created_at) values ('2', '2', '2', '2020-02-01')

In [ ]:
insert into MovieRating (movie_id, user_id, rating, created_at) values ('2', '3', '2', '2020-03-01')

In [ ]:
insert into MovieRating (movie_id, user_id, rating, created_at) values ('3', '1', '3', '2020-02-22')

In [ ]:
insert into MovieRating (movie_id, user_id, rating, created_at) values ('3', '2', '4', '2020-02-25')

In [ ]:
select * from userss

+---------+--------+
| user_id | name   |
+---------+--------+
| 1       | Daniel |
+---------+--------+
| 2       | Monica |
+---------+--------+
| 3       | Maria  |
+---------+--------+
| 4       | James  |
+---------+--------+

In [ ]:
select * from movies

+----------+----------+
| movie_id | title    |
+----------+----------+
| 1        | Avengers |
+----------+----------+
| 2        | Frozen 2 |
+----------+----------+
| 3        | Joker    |
+----------+----------+

In [ ]:
select * from movierating

+----------+---------+--------+------------+
| movie_id | user_id | rating | created_at |
+----------+---------+--------+------------+
| 1        | 1       | 3      | 2020-01-12 |
+----------+---------+--------+------------+
| 1        | 2       | 4      | 2020-02-11 |
+----------+---------+--------+------------+
| 1        | 3       | 2      | 2020-02-12 |
+----------+---------+--------+------------+
| 1        | 4       | 1      | 2020-01-01 |
+----------+---------+--------+------------+
| 2        | 1       | 5      | 2020-02-17 |
+----------+---------+--------+------------+
| 2        | 2       | 2      | 2020-02-01 |
+----------+---------+--------+------------+
| 2        | 3       | 2      | 2020-03-01 |
+----------+---------+--------+------------+
| 3        | 1       | 3      | 2020-02-22 |
+----------+---------+--------+------------+
| 3        | 2       | 4      | 2020-02-25 |
+----------+---------+--------+------------+

## Write a solution to:

- Find the name of the user who has rated the greatest number of movies. In case of a tie, return the lexicographically smaller user name.
- Find the movie name with the highest average rating in February 2020. In case of a tie, return the lexicographically smaller movie name.

In [ ]:
with t(cat, dog) as (select 4,2 union select 1,3)
select * from t

+-----+-----+
| cat | dog |
+-----+-----+
| 1   | 3   |
+-----+-----+
| 4   | 2   |
+-----+-----+

In [ ]:
select * from movierating left join userss using (user_id) left join movies using (movie_id)

+----------+---------+--------+------------+--------+----------+
| movie_id | user_id | rating | created_at | name   | title    |
+----------+---------+--------+------------+--------+----------+
| 1        | 1       | 3      | 2020-01-12 | Daniel | Avengers |
+----------+---------+--------+------------+--------+----------+
| 1        | 2       | 4      | 2020-02-11 | Monica | Avengers |
+----------+---------+--------+------------+--------+----------+
| 1        | 3       | 2      | 2020-02-12 | Maria  | Avengers |
+----------+---------+--------+------------+--------+----------+
| 1        | 4       | 1      | 2020-01-01 | James  | Avengers |
+----------+---------+--------+------------+--------+----------+
| 2        | 1       | 5      | 2020-02-17 | Daniel | Frozen 2 |
+----------+---------+--------+------------+--------+----------+
| 2        | 2       | 2      | 2020-02-01 | Monica | Frozen 2 |
+----------+---------+--------+------------+--------+----------+
| 2        | 3       | 2      | 2020-03-01 | Maria  | Frozen 2 |
+----------+---------+--------+------------+--------+----------+
| 3        | 1       | 3      | 2020-02-22 | Daniel | Joker    |
+----------+---------+--------+------------+--------+----------+
| 3        | 2       | 4      | 2020-02-25 | Monica | Joker    |
+----------+---------+--------+------------+--------+----------+

In [ ]:
with t as (
    select * from movierating left join userss using (user_id) left join movies using (movie_id)
)

select name from (
    select name, count(*) cnt from t group by user_id, name order by cnt desc, name
) limit 1

+--------+
| name   |
+--------+
| Daniel |
+--------+

In [ ]:
with t as (
    select * from movierating left join userss using (user_id) left join movies using (movie_id)
)

select title from (
    select title, avg(rating) avg from t where strftime('%Y-%m', created_at) = '2020-02' 
    group by movie_id, title 
    order by avg desc, title
    limit 1)

+----------+
| title    |
+----------+
| Frozen 2 |
+----------+

In [ ]:
with t as (
    select * from movierating left join userss using (user_id) left join movies using (movie_id)
)

select name as results from (
    select name, count(*) cnt from t 
    group by user_id, name 
    order by cnt desc, name
    limit 1
)
union all
select title from (
    select title, avg(rating) avg from t where strftime('%Y-%m', created_at) = '2020-02' 
    group by movie_id, title 
    order by avg desc, title
    limit 1)

+----------+
| results  |
+----------+
| Daniel   |
+----------+
| Frozen 2 |
+----------+