In [ ]:
%load tutorial.db [rw]

In [ ]:
Create table If Not Exists RequestAccepted (requester_id int not null, accepter_id int null, accept_date date null)

In [ ]:
insert into RequestAccepted (requester_id, accepter_id, accept_date) values ('1', '2', '2016/06/03')

In [ ]:
insert into RequestAccepted (requester_id, accepter_id, accept_date) values ('1', '3', '2016/06/08')

In [ ]:
insert into RequestAccepted (requester_id, accepter_id, accept_date) values ('2', '3', '2016/06/08')

In [ ]:
insert into RequestAccepted (requester_id, accepter_id, accept_date) values ('3', '4', '2016/06/09')

In [ ]:
select * from requestaccepted

+--------------+-------------+-------------+
| requester_id | accepter_id | accept_date |
+--------------+-------------+-------------+
| 1            | 2           | 2016/06/03  |
+--------------+-------------+-------------+
| 1            | 3           | 2016/06/08  |
+--------------+-------------+-------------+
| 2            | 3           | 2016/06/08  |
+--------------+-------------+-------------+
| 3            | 4           | 2016/06/09  |
+--------------+-------------+-------------+

## Write a solution to find the people who have the most friends and the most friends number.

The test cases are generated so that only one person has the most friends.

In [ ]:
select accepter_id, count(distinct requester_id) num_accepted from requestaccepted group by accepter_id

+-------------+--------------+
| accepter_id | num_accepted |
+-------------+--------------+
| 2           | 1            |
+-------------+--------------+
| 3           | 2            |
+-------------+--------------+
| 4           | 1            |
+-------------+--------------+

In [ ]:
select requester_id, count(distinct accepter_id) num_requested from requestaccepted group by requester_id

+--------------+---------------+
| requester_id | num_requested |
+--------------+---------------+
| 1            | 2             |
+--------------+---------------+
| 2            | 1             |
+--------------+---------------+
| 3            | 1             |
+--------------+---------------+

In [ ]:
select accepter_id id, count(distinct requester_id) num from requestaccepted group by accepter_id
union 
select requester_id, count(distinct accepter_id) from requestaccepted group by requester_id

+----+-----+
| id | num |
+----+-----+
| 1  | 2   |
+----+-----+
| 2  | 1   |
+----+-----+
| 3  | 1   |
+----+-----+
| 3  | 2   |
+----+-----+
| 4  | 1   |
+----+-----+

In [ ]:
with t as ( 
    select accepter_id id, count(distinct requester_id) num from requestaccepted group by accepter_id
    union all
    select requester_id, count(distinct accepter_id) from requestaccepted group by requester_id
)
select id,sum(num) num from t group by id order by num desc limit 1

+----+-----+
| id | num |
+----+-----+
| 3  | 3   |
+----+-----+