In [ ]:
%load tutorial.db [rw]

In [ ]:
Create Table If Not Exists Insurance (pid int, tiv_2015 float, tiv_2016 float, lat float, lon float)

In [ ]:
insert into Insurance (pid, tiv_2015, tiv_2016, lat, lon) values ('1', '10', '5', '10', '10')

In [ ]:
insert into Insurance (pid, tiv_2015, tiv_2016, lat, lon) values ('2', '20', '20', '20', '20')

In [ ]:
insert into Insurance (pid, tiv_2015, tiv_2016, lat, lon) values ('3', '10', '30', '20', '20')

In [ ]:
insert into Insurance (pid, tiv_2015, tiv_2016, lat, lon) values ('4', '10', '40', '40', '40')

In [ ]:
select * from insurance

+-----+----------+----------+------+------+
| pid | tiv_2015 | tiv_2016 | lat  | lon  |
+-----+----------+----------+------+------+
| 1   | 10.0     | 5.0      | 10.0 | 10.0 |
+-----+----------+----------+------+------+
| 2   | 20.0     | 20.0     | 20.0 | 20.0 |
+-----+----------+----------+------+------+
| 3   | 10.0     | 30.0     | 20.0 | 20.0 |
+-----+----------+----------+------+------+
| 4   | 10.0     | 40.0     | 40.0 | 40.0 |
+-----+----------+----------+------+------+

## Write a solution to report the sum of all total investment values in 2016 tiv_2016, for all policyholders who:
- have the same tiv_2015 value as one or more other policyholders, and  
- are not located in the same city as any other policyholder (i.e., the (lat, lon) attribute pairs must be unique).

In [ ]:
select tiv_2015 from (select tiv_2015, count(*) cnt from insurance group by tiv_2015) where cnt>1

+----------+
| tiv_2015 |
+----------+
| 10.0     |
+----------+

In [ ]:
select lat,lon from (select lat,lon, count(*) cnt from insurance group by lat,lon) where cnt=1

+------+------+
| lat  | lon  |
+------+------+
| 10.0 | 10.0 |
+------+------+
| 40.0 | 40.0 |
+------+------+

In [ ]:
select pid from insurance where tiv_2015 in (
    select tiv_2015 from (select tiv_2015, count(*) cnt from insurance group by tiv_2015) where cnt>1
) and 
(lat,lon) in (
    select lat,lon from (select lat,lon, count(*) cnt from insurance group by lat,lon) where cnt=1
)

+-----+
| pid |
+-----+
| 1   |
+-----+
| 4   |
+-----+

In [ ]:
with good_ids as (
    select pid from insurance where tiv_2015 in (
    select tiv_2015 from (select tiv_2015, count(*) cnt from insurance group by tiv_2015) where cnt>1
    ) and 
    (lat,lon) in (
        select lat,lon from (select lat,lon, count(*) cnt from insurance group by lat,lon) where cnt=1
)
)
    
select sum(tiv_2016) from insurance where pid in good_ids

+---------------+
| sum(tiv_2016) |
+---------------+
| 45.0          |
+---------------+