In [ ]:
%load tutorial.db [rw]

In [ ]:
Create table If Not Exists fixUsers (user_id int, name varchar(40))

In [ ]:
insert into fixUsers (user_id, name) values ('1', 'aLice')

In [ ]:
insert into fixUsers (user_id, name) values ('2', 'bOB')

In [ ]:
select * from fixusers

+---------+-------+
| user_id | name  |
+---------+-------+
| 1       | aLice |
+---------+-------+
| 2       | bOB   |
+---------+-------+

## Write a solution to fix the names so that only the first character is uppercase and the rest are lowercase.

in oracle, can use `initcap` e.g.
`select user_id, initcap(lower(name)) from fixusers` 

be mindful that `initcap` capitalizes initials of all words separated by spaces

In [ ]:
select substr(name,1,1) from fixusers -- starting from 1st, length 1

+------------------+
| substr(name,1,1) |
+------------------+
| a                |
+------------------+
| b                |
+------------------+

In [ ]:
select upper(substr(name,1,1)) || lower(substr(name,2)) as name 
from fixusers

+-------+
| name  |
+-------+
| Alice |
+-------+
| Bob   |
+-------+