In [ ]:
%load tutorial.db [rw]

In [ ]:
Create table If Not Exists Patients (patient_id int, patient_name varchar(30), conditions varchar(100))

In [ ]:
insert into Patients (patient_id, patient_name, conditions) values ('1', 'Daniel', 'YFEV COUGH')

In [ ]:
insert into Patients (patient_id, patient_name, conditions) values ('2', 'Alice', '')

In [ ]:
insert into Patients (patient_id, patient_name, conditions) values ('3', 'Bob', 'DIAB100 MYOP')

In [ ]:
insert into Patients (patient_id, patient_name, conditions) values ('4', 'George', 'ACNE DIAB100')

In [ ]:
insert into Patients (patient_id, patient_name, conditions) values ('5', 'Alain', 'DIAB201')

In [ ]:
insert into patients (patient_id, patient_name, conditions) values ('6', 'Jill', 'SADIAB1')

In [ ]:
select * from patients

+------------+--------------+--------------+
| patient_id | patient_name | conditions   |
+------------+--------------+--------------+
| 1          | Daniel       | YFEV COUGH   |
+------------+--------------+--------------+
| 2          | Alice        |              |
+------------+--------------+--------------+
| 3          | Bob          | DIAB100 MYOP |
+------------+--------------+--------------+
| 4          | George       | ACNE DIAB100 |
+------------+--------------+--------------+
| 5          | Alain        | DIAB201      |
+------------+--------------+--------------+
| 6          | Jill         | SADIAB1      |
+------------+--------------+--------------+

## Write a solution to find the patient_id, patient_name, and conditions of the patients who have Type I Diabetes. Type I Diabetes always starts with DIAB1 prefix.

In [ ]:
select conditions, instr(conditions, 'DIAB1') from patients

+--------------+----------------------------+
| conditions   | instr(conditions, 'DIAB1') |
+--------------+----------------------------+
| YFEV COUGH   | 0                          |
+--------------+----------------------------+
|              | 0                          |
+--------------+----------------------------+
| DIAB100 MYOP | 1                          |
+--------------+----------------------------+
| ACNE DIAB100 | 6                          |
+--------------+----------------------------+
| DIAB201      | 0                          |
+--------------+----------------------------+
| SADIAB1      | 3                          |
+--------------+----------------------------+

In [ ]:
select patient_name from patients 
where conditions like 'DIAB1%' or conditions like '% DIAB1%'

+--------------+
| patient_name |
+--------------+
| Bob          |
+--------------+
| George       |
+--------------+

In [ ]:
select patient_name from patients 
where instr(conditions, ' DIAB1')>0 or instr(conditions,'DIAB1')=1

+--------------+
| patient_name |
+--------------+
| Bob          |
+--------------+
| George       |
+--------------+