In [ ]:
%load tutorial.db [rw]

In [ ]:
Create table If Not Exists Person (Id int, Email varchar(255))

In [ ]:
insert into Person (id, email) values ('1', 'john@example.com')

In [ ]:
insert into Person (id, email) values ('2', 'bob@example.com')

In [ ]:
insert into Person (id, email) values ('3', 'john@example.com')

In [ ]:
select * from person

+----+------------------+
| Id | Email            |
+----+------------------+
| 1  | john@example.com |
+----+------------------+
| 2  | bob@example.com  |
+----+------------------+
| 3  | john@example.com |
+----+------------------+

## Write a solution to delete all duplicate emails, keeping only one unique email with the smallest id.

In [ ]:
select min(id) id from person group by email

+----+
| id |
+----+
| 2  |
+----+
| 1  |
+----+

In [ ]:
delete from person where id not in (select min(id) id from person group by email)

In [ ]:
select * from person

+----+------------------+
| Id | Email            |
+----+------------------+
| 1  | john@example.com |
+----+------------------+
| 2  | bob@example.com  |
+----+------------------+