In [ ]:
%load tutorial.db [rw]

In [ ]:
Create table If Not Exists Activities (sell_date date, product varchar(20))

In [ ]:
insert into Activities (sell_date, product) values ('2020-05-30', 'Headphone')

In [ ]:
insert into Activities (sell_date, product) values ('2020-06-01', 'Pencil')

In [ ]:
insert into Activities (sell_date, product) values ('2020-06-02', 'Mask')

In [ ]:
insert into Activities (sell_date, product) values ('2020-05-30', 'Basketball')

In [ ]:
insert into Activities (sell_date, product) values ('2020-06-01', 'Bible')

In [ ]:
insert into Activities (sell_date, product) values ('2020-06-02', 'Mask')

In [ ]:
insert into Activities (sell_date, product) values ('2020-05-30', 'T-Shirt')

In [ ]:
select * from activities

+------------+------------+
| sell_date  | product    |
+------------+------------+
| 2020-05-30 | Headphone  |
+------------+------------+
| 2020-06-01 | Pencil     |
+------------+------------+
| 2020-06-02 | Mask       |
+------------+------------+
| 2020-05-30 | Basketball |
+------------+------------+
| 2020-06-01 | Bible      |
+------------+------------+
| 2020-06-02 | Mask       |
+------------+------------+
| 2020-05-30 | T-Shirt    |
+------------+------------+

## Write a solution to find for each date the number of different products sold and their names.

The sold products names for each date should be sorted lexicographically.

In [ ]:
select count(distinct product), group_concat(product) from activities group by sell_date

+-------------------------+------------------------------+
| count(distinct product) | group_concat(product)        |
+-------------------------+------------------------------+
| 3                       | Headphone,Basketball,T-Shirt |
+-------------------------+------------------------------+
| 2                       | Pencil,Bible                 |
+-------------------------+------------------------------+
| 1                       | Mask,Mask                    |
+-------------------------+------------------------------+

notice that mask is sold twice, but we only want to list distinct products

In [ ]:
select count(distinct product), group_concat(distinct product) from activities group by sell_date

+-------------------------+--------------------------------+
| count(distinct product) | group_concat(distinct product) |
+-------------------------+--------------------------------+
| 3                       | Headphone,Basketball,T-Shirt   |
+-------------------------+--------------------------------+
| 2                       | Pencil,Bible                   |
+-------------------------+--------------------------------+
| 1                       | Mask                           |
+-------------------------+--------------------------------+

## adding a helper column (rownumer for items within each (date, product))

In [ ]:
select *, row_number() over (partition by sell_date,product) as rn from activities

+------------+------------+----+
| sell_date  | product    | rn |
+------------+------------+----+
| 2020-05-30 | Basketball | 1  |
+------------+------------+----+
| 2020-05-30 | Headphone  | 1  |
+------------+------------+----+
| 2020-05-30 | T-Shirt    | 1  |
+------------+------------+----+
| 2020-06-01 | Bible      | 1  |
+------------+------------+----+
| 2020-06-01 | Pencil     | 1  |
+------------+------------+----+
| 2020-06-02 | Mask       | 1  |
+------------+------------+----+
| 2020-06-02 | Mask       | 2  |
+------------+------------+----+

```{oracle}
with t_with_rn as (
    select to_char(sell_date,'yyyy-mm-dd') sell_date, 
            product,
            row_number() over (partition by sell_date,product order by sell_date) as rn 
    from activities 
)

select sell_date,
        count(distinct product) num_sold,
        listagg(product,',') within group (order by product) as products
from t_with_rn 
where rn=1
group by sell_date
order by sell_date sell_date
```