In [ ]:
%load tutorial.db [rw]

In [ ]:
Create table If Not Exists Productsit (product_id int, product_name varchar(40), product_category varchar(40))

In [ ]:
Create table If Not Exists Orders (product_id int, order_date date, unit int)

In [ ]:
insert into Productsit (product_id, product_name, product_category) values ('1', 'Leetcode Solutions', 'Book')

In [ ]:
insert into Productsit (product_id, product_name, product_category) values ('2', 'Jewels of Stringology', 'Book')

In [ ]:
insert into Productsit (product_id, product_name, product_category) values ('3', 'HP', 'Laptop')

In [ ]:
insert into Productsit (product_id, product_name, product_category) values ('4', 'Lenovo', 'Laptop')

In [ ]:
insert into Productsit (product_id, product_name, product_category) values ('5', 'Leetcode Kit', 'T-shirt')

In [ ]:
insert into Orders (product_id, order_date, unit) values ('1', '2020-02-05', '60')

In [ ]:
insert into Orders (product_id, order_date, unit) values ('1', '2020-02-10', '70')

In [ ]:
insert into Orders (product_id, order_date, unit) values ('2', '2020-01-18', '30')

In [ ]:
insert into Orders (product_id, order_date, unit) values ('2', '2020-02-11', '80')

In [ ]:
insert into Orders (product_id, order_date, unit) values ('3', '2020-02-17', '2')

In [ ]:
insert into Orders (product_id, order_date, unit) values ('3', '2020-02-24', '3')

In [ ]:
insert into Orders (product_id, order_date, unit) values ('4', '2020-03-01', '20')

In [ ]:
insert into Orders (product_id, order_date, unit) values ('4', '2020-03-04', '30')

In [ ]:
insert into Orders (product_id, order_date, unit) values ('4', '2020-03-04', '60')

In [ ]:
insert into Orders (product_id, order_date, unit) values ('5', '2020-02-25', '50')

In [ ]:
insert into Orders (product_id, order_date, unit) values ('5', '2020-02-27', '50')

In [ ]:
insert into Orders (product_id, order_date, unit) values ('5', '2020-03-01', '50')

In [ ]:
select * from orders

+------------+------------+------+
| product_id | order_date | unit |
+------------+------------+------+
| 1          | 2020-02-05 | 60   |
+------------+------------+------+
| 1          | 2020-02-10 | 70   |
+------------+------------+------+
| 2          | 2020-01-18 | 30   |
+------------+------------+------+
| 2          | 2020-02-11 | 80   |
+------------+------------+------+
| 3          | 2020-02-17 | 2    |
+------------+------------+------+
| 3          | 2020-02-24 | 3    |
+------------+------------+------+
| 4          | 2020-03-01 | 20   |
+------------+------------+------+
| 4          | 2020-03-04 | 30   |
+------------+------------+------+
| 4          | 2020-03-04 | 60   |
+------------+------------+------+
| 5          | 2020-02-25 | 50   |
+------------+------------+------+
| 5          | 2020-02-27 | 50   |
+------------+------------+------+
| 5          | 2020-03-01 | 50   |
+------------+------------+------+

In [ ]:
select * from productsit

+------------+-----------------------+------------------+
| product_id | product_name          | product_category |
+------------+-----------------------+------------------+
| 1          | Leetcode Solutions    | Book             |
+------------+-----------------------+------------------+
| 2          | Jewels of Stringology | Book             |
+------------+-----------------------+------------------+
| 3          | HP                    | Laptop           |
+------------+-----------------------+------------------+
| 4          | Lenovo                | Laptop           |
+------------+-----------------------+------------------+
| 5          | Leetcode Kit          | T-shirt          |
+------------+-----------------------+------------------+

## Write a solution to get the names of products that have at least 100 units ordered in February 2020 and their amount.

In [ ]:
select product_id, sum(unit) unit from orders where strftime('%Y-%m', order_date)='2020-02'
group by product_id

+------------+------+
| product_id | unit |
+------------+------+
| 1          | 130  |
+------------+------+
| 2          | 80   |
+------------+------+
| 3          | 5    |
+------------+------+
| 5          | 100  |
+------------+------+

In [ ]:
with t as (
    select product_id, sum(unit) unit from orders where strftime('%Y-%m', order_date)='2020-02'
    group by product_id
)

select product_name, unit from t,productsit where t.unit>=100 and t.product_id=productsit.product_id

+--------------------+------+
| product_name       | unit |
+--------------------+------+
| Leetcode Solutions | 130  |
+--------------------+------+
| Leetcode Kit       | 100  |
+--------------------+------+